
alembic==1.18.4
beautifulsoup4==4.14.3
bcrypt==5.0.0
bleach==6.3.0
blinker==1.9.0
click==8.3.1
exceptiongroup==1.3.1
Flask==3.1.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
# TODO: [DEPENDABOT PR #647] gevent 25.x is a major version change. Review for
# breaking changes in greenlet/async behavior before upgrading from 24.11.1 to 25.9.1
gevent==24.11.1
greenlet==3.3.2
gunicorn==23.0.0
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
markdown==3.10.2
# TODO: [DEPENDABOT PR #463] MarkupSafe 3.x introduces breaking changes:
# - soft_str and soft_unicode removed (deprecated since 2.0)
# - Markup.striptags() behavior may differ
# Review Jinja2 compatibility before upgrading from 2.1.5 to 3.0.3
MarkupSafe==2.1.5
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.11
Pygments==2.19.2
pyotp==2.9.0
pytest==8.4.0
pytest-flask==1.3.0
pytz==2025.2
PyYAML==6.0.3
soupsieve==2.8.3
SQLAlchemy==2.0.46
tomli==2.4.0
typing_extensions==4.15.0
Werkzeug==3.1.6
# TODO: [DEPENDABOT PR #847] zope.event 6.x is a major version change. Review for
# breaking changes (transitive dep for gevent) before upgrading from 5.0 to 6.1
zope.event==5.0
# TODO: [DEPENDABOT PR #848] zope.interface 8.x is a major version change. Review for
# breaking changes (transitive dep for gevent) before upgrading from 7.2 to 8.2
zope.interface==7.2
python-dateutil==2.9.0.post0
cryptography==46.0.5
Flask-WTF==1.2.2
python-dotenv==1.2.1

qrcode[pil]
APScheduler==3.11.2
# TODO: [DEPENDABOT PR #648] Flask-Limiter 4.x introduces breaking changes:
# - API changes for default_limits and decorator syntax
# - See https://flask-limiter.readthedocs.io/en/stable/changelog.html
# Review before upgrading from 3.5.0 to 4.1.1
Flask-Limiter==3.5.0
redis>=5.0.0
passwordless==2.0.0
requests==2.32.5
